<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{post.titre}}</h5>
        <img class="rounded-t-lg" src="{{post.src}}" alt="" />
        <p class="font-normal text-gray-700 dark:text-gray-400">{{post.description}}</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">{{post.prix}} €</p>


    </a>
</div>